* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.text-center {
  text-align: center;
}

.alerta {
  position: relative;
  padding: 10px 15px;
  border-color: #ebccd1;
  border-radius: 4px;
  background-color: #f2dede;
  color: #a94442;
  margin: 10px;
}
.alerta ul {
  padding-left: 30px;
}
.alerta li {
  list-style: circle;
}
.alerta span {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.exito {
  position: relative;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.exito span {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#offcanvas img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#offcanvas hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}
#offcanvas h4 {
  color: rgba(0, 0, 0, 0.6);
}
#offcanvas > ul {
  margin-bottom: 50px;
}

#contenedor-login {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  #contenedor-login {
    width: 400px;
  }
}
#contenedor-login h1 {
  margin-top: 0;
}

.flex-gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.flex-gallery .flex-item {
  padding: 15px;
  -webkit-flex: 0 1 300px;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}
.flex-gallery .flex-item > div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.foto {
  display: block;
  margin: 0 auto;
  max-height: calc(100vh - 100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#offline img {
  width: 320px;
  vertical-align: top;
  margin-top: 30px;
}
