* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.text-center {
  text-align: center;
}

.alerta {
  position: relative;
  padding: 10px 15px;
  border-color: #ebccd1;
  border-radius: 4px;
  background-color: #f2dede;
  color: #a94442;
  margin: 10px;

  ul {
    padding-left: 30px;
  }

  li {
    list-style: circle;
  }

  span {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}

.exito {
  position: relative;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  span {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

}