#offcanvas {

  img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(#000, .4);
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
                          to right,
                          rgba(0, 0, 0, 0),
                          rgba(0, 0, 0, 0.75),
                          rgba(0, 0, 0, 0));
  }

  h4 {
    color: rgba(#000, .6);
  }

  > ul {
    margin-bottom: 50px;
  }

}