#contenedor-login {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: $tablet) {
    width: 400px;
  }

  h1 {
    margin-top: 0;
  }

}

.flex-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .flex-item {
    padding: 15px;
    flex: 0 1 300px;

    > div {
      box-shadow: 0 0 10px rgba(#000, .2);
    }

  }

}

.foto {
  display: block;
  margin: 0 auto;
  max-height: calc(100vh - 100px);
  box-shadow: 0 0 10px rgba(#000, .3);
}

#offline img {

  width: 320px;
  vertical-align: top;
  margin-top: 30px;

}



